<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"><title th:text="${title}"></title></head>
<body>

<header th:replace="layout/layout :: header"></header>

<div class="container py-4">
    <div class="card bg-light">
        <div class="card-header" th:text="${title}"></div>
        <div class="card-body">
            <h4 class="card-title">
                <a th:href="@{'/ver/' + ${factura.client.id}}" class="btn btn-primary btn-xs">&laquo; Black</a>
            </h4>
            <ul class="list-group my-2">
                <li class="list-group-item list-group-item-primary" th:text="'Datos del client'"></li>
                <li class="list-group-item" th:text="${factura.client}"></li>
                <li class="list-group-item" th:text="${factura.client.email}"></li>
            </ul>
            <ul class="list-group my-2">
                <li class="list-group-item list-group-item-success" th:text="'Datos de la factura'"></li>
                <li class="list-group-item" th:text="'Folio: ' + ${factura.id}"></li>
                <li class="list-group-item" th:text="'Descripcion: ' + ${factura.description}"></li>
                <li class="list-group-item" th:text="'Fecha: ' + ${factura.createAt}"></li>
            </ul>
        </div>
    </div>
</div>


<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>